@charset 'utf-8';

/**
** 로그인
**/

/// 로그인
.m-login {
	$width-login: 540px;
	$height-login: 540px;

	min-height: $height-login;

	&-inner {
		position: absolute;
		top: 50%;
		left: 50%;
		margin: (-$height-login / 2) 0 0 (-$width-login / 2);
		// padding: 40px 0 90px;
		width: $width-login;
		vertical-align: middle;
		text-align: center;
	}

	h1 {
		margin-bottom: 40px;
		padding-top: 52px;
		background: url('../images/common/logo.png') no-repeat 50% 0;
		background-size: 127px;
		color: #303952;
		font-size: 36px;
		letter-spacing: -1px;
	}

	&-form {
		&-box {
			padding: 40px 53px 20px 137px;
			background: #303952;
			text-align: left;

			section {
				position: relative;
				margin-bottom: 10px;

				h6 {
					position: absolute;
					top: 0;
					left: -84px;
					color: #fff;
					font-size: 16px;
					line-height: 38px;
				}

				.mm_form-text {
					label {
						border-color: #2c3143;
					}
				}
			}

			.mm_form-check {
				.text_label {
					color: #fff;
				}
			}
		}
	}

	.btn_login {
		margin-top: 35px;
		width: 220px;
	}
}
///-- 로그인
